*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    90deg,
    rgb(60, 61, 61),
    rgb(43, 77, 82),
    rgb(2, 102, 94)
  );
  font-family: "Gulzar", serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
:root {
  --grid-rows: 1;
  --grid-cols: 1;
}
h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 0.6em;
  margin-bottom: 0;
  word-spacing: 20px;
  text-shadow: -4px 4px 15px rgba(0, 0, 0, 0.79);
}
.btns {
  border: 0;
  font-size: 1.3rem;
  padding: 0.5em;
  border-radius: 10px;
  background-color: white;
  box-shadow: -4px 3px 18px 0px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: -4px 3px 18px 0px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: -4px 3px 18px 0px rgba(0, 0, 0, 0.48);
  transition: ease-out all 0.5s;
}
.btns:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.playground {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 2em 2em 0 2em;
}
.controls {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
}
.canvas {
  width: 600px;
  height: 600px;
  background-color: white;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  box-shadow: -4px 3px 18px 0px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: -4px 3px 18px 0px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: -4px 3px 18px 0px rgba(0, 0, 0, 0.48);
}
.color_picker {
  margin: 0 auto;
  display: block;
}
.color_picker:hover {
  cursor: pointer;
}
.color_picker_label {
  font-size: 1.1rem;
  background-color: white;
  border-radius: 10px;
  padding: 0.5em;
  display: block;
}
.display_size {
  color: white;
  font-size: 1.3rem;
  text-shadow: -4px 4px 15px rgba(0, 0, 0, 0.79);
}
.slider_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.slider {
  width: 35%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  outline: none;
  opacity: 0.9;
  box-shadow: -4px 3px 18px 0px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: -4px 3px 18px 0px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: -4px 3px 18px 0px rgba(0, 0, 0, 0.48);
}
.slider:hover {
  opacity: 1.2;
  cursor: pointer;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: rgb(23, 24, 24);
}
.canvas_container {
  display: flex;
  flex-direction: column;
}
footer {
  color: white;
  background-color: rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 0.3em;
  gap: 0.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-top: 0.5em;
}
footer p {
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.img-icon {
  width: 30px;
  margin: 0;
  padding: 0;
}
